.app {
    height: calc(100vh - 50px);
    max-width: 500px;
    margin: 0 auto;
    display: none;
    padding: 10px 10px;
    &__wrapper {
        height: 25%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        input {
            color: #fff;
            background-color: $bgClr;
            border: none;
            margin-left: 15px;
            font-size: 36px;
            font-weight: 500;
            width: 90px;
        }
    }
    &__problem {
        display: block;
        text-align: center;
        font-size: 36px;
    }
    &__btns {
        height: 65%;
        margin: 0 auto;
        min-height: 300px;
        max-width: 700px;
        display: grid;
        gap: 3px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    &__stats {
        height: 10%;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_active {
        display: block;
    }
}