.btn, .btn_del, .btn_ok {
    cursor: pointer;
    background-color: $mainClr;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    transition: 0.3s all;
    &:hover {
        opacity: 0.87;
    }
    &_menu {
        margin: 0 auto;
        margin-top: 10px;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 0;
        width: 100%;
        max-width: 600px;
        height: 80px;
        &:hover {
            background-color: $mainClr;
        }
    }
    &_theme {
        width: 120px;
        height: 40px;
        font-size: 24px;
    }
}